<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="EmailServiceName" value="METTServiceDemo" />
		<add key="ActiveServiceTimeInterval" value="30000" />
		<add key="PassiveServiceTimeInterval" value="120000" />
		<add key="ServiceName" value="METT.ServiceDemo"/>

		<add key="Email" value="http://localhost" />
		<add key="GeneratedMachineKey" value="" />
		<add key="authType" value="securetoken" />
		<add key="callback_url" value="" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<add key="SMS_Username" value="" />
		<add key="SMS_Password" value="" />

		<add key="FromServer" value="mail.singular.co.za" />
		<add key="FriendlyFrom" value="METT" />
		<add key="FromAccount" value="mettAlerts@singular.co.za" />
		<add key="FromAddress" value="mettAlerts@singular.co.za" />
		<add key="FromPassword" value="Singular1" />

		<add key="ToAccount" value="mettAlerts@singular.co.za" />

		<add key="Logging_ServiceErrorPath" value="C:\METT\METTWinService\Logs\Exceptions\" />
		<add key="Logging_ServiceLogPath" value="C:\METT\METTWinService\Logs\Activity Logs\" />
		<add key="WriteToEventViewer" value="2"/>
	</appSettings>
	<connectionStrings>
		<add name="Main" connectionString="server=SINWE1UATAPP01;Integrated Security=false;uid=sa;pwd=S1ngul@rSyS;database=METT"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>