
/*div.DivToolbar {
	display: none;
}*/

#Undo {
	float: right;
}

.fa-undo.fa {
	display: none;
}


button#Save.btn.btn-success {
	position: fixed;
	top: 450px;
	right: 0px;
	width: 60px;
	height: 35px;
	margin-right: 10px;
}
.fa.fa-floppy-o{
	display:none;
} 

button#Undo.btn.btn-primary {
	float: right;
	position: fixed;
	top: 450px;
	right: 80px;
	padding: 6px;
	/* margin-bottom: 20; */
	width: 60px;
	height: 36px;
}

legend {
	display: block;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: inherit;
	color: #7a7a7a;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	font-weight: 600;
	margin-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
}

	legend:before {
		content: "\f013";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		/*--adjust as necessary--*/
		color: #7a7a7a;
		font-size: 14px;
		padding-right: 0.5em;
		padding-left: 0.1em;
		position: absolute;
		top: 16px;
		left: 0px;
		margin-left: 20px;
	}

.wrapper-content {
	padding: 0px 25px 20px;
}

button#Save {
	float: right;
	/* margin-bottom: 15px; */
	/* width: 150px; */
	/* height: 35px; */
	padding: 0px;
	text-align: center;
}

#Undo {
	padding: 0px;
	background:#eee;
	border:1px solid #eee;
	color:#7a7a7a;
}
#Undo:hover {
	padding: 0px;
	background: #ddd;
	opacity:0.8;
	border: 1px solid #ddd;
	color: #7a7a7a;
}

input[type=text] {
	width: 200px;
	margin-right: 20px;
}

h1 {
	font-size: 26px;
}

div.row label {
	width: 150px;
}

input[type=text] {
	width: 200px;
	margin-bottom: 10px;
	height: 28px;
}

#page-wrapper > div.wrapper.wrapper-content.animated.fadeInRight > fieldset:nth-child(4) > div:nth-child(2) > span {
	padding: 7px 10px;
	clear: none;
	float: left;
	font-weight: 300;
	max-width: 500px;
	margin-left: 10px;
	margin-bottom: 10px;
}

div.wrapper.wrapper-content.animated.fadeInRight {
	background: white;
	margin-top: 15px;
	height: auto;
	height: 505px !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div.DivToolbar > h2 {
	display: none !important;
}
#Save {
	background-color: #1ab394;
	border-color: #1ab394;
	color: #FFFFFF;
}

	#Save:hover {
		background-color: #1ab394;
		border-color: #1ab394;
		opacity: 0.8;
		color: #FFFFFF;
	}
select{
	padding:5px;
}



