.tag {
	top: -12px;
	right: -12px;
	min-height: 0px;
}

.tag {
	/* font-family: 'Droid Serif'; */
	text-align: center;
	/* color: #FFF; */
	margin-left: 15px;
	/* padding: 6px; */
	/* background-color: red; */
	float: right;
	z-index: 3;
	display: block;
	position: absolute;
}
