

/* 
	DropZone Stylesheet
    Author: Kelly Render
    Date: 28 Feb 2018
    Purpose: This holds all the for the drop and drag upload file area styles
*/

/* Dropzone */
.dropzone {
  min-height: 140px;
  border: 1px dashed #1ab394;
  background: white;
  padding: 20px 20px;
}
.dropzone .dz-message {
  font-size: 16px;
}

